:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}

header{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    background-color: white;
    height: 5%;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
}
.logo {
    cursor: pointer;
}
.nav-links{
    list-style: none;
    display: none;
    order: -1;
}
.nav-links li{
    display: inline-block;
    padding: 0px 5px;
}
.nav-links li a {
    text-decoration: none;
}
.nav-links li a:hover {
    color: var(--dark-blue);
    padding-bottom: 10px;
    border-bottom:2px solid var(--dark-blue);
}
.btn{
    background-image: linear-gradient(to right,var(--lime-green),var(--bright-cyan));
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: none;
}
.hamberg-logo {
    display: inline;
}
.link {
    display: none;
    position: fixed;
    text-align: center;
    top: 9%;
    left: 5%;
    right: 5%;
    background-color:var(--light-grayish-blue);
}
.link li{
    list-style: none;
    text-align: center;
    line-height: 1.6;
}
.link li a {
    text-decoration: none;
}
.link li a:hover{
    color:var(--dark-blue);
    padding-bottom: 10px;
    border-bottom:2px solid var(--dark-blue);
    line-height: 2;
}
.checked{
    display: flex;
    justify-content: center;
}
@media (min-width:376px) {
    .nav-links{
    display:inline-block;
    }
    a{
        text-decoration: none;
    }
    .btn{
    display: inline;
    }
    .hamberg-logo{
        display: none;
    }
    .link {
        display: none;
    }
}
button:hover{
    cursor: pointer;
}
.intro-setion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    padding-bottom: 15%;
    overflow: hidden;
}

.image-container{
    background-image: url('images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
}
.mobile-image{
    width:90vw ;
    padding: 10px;
}
.btn1{
    display: inline;
}
.intro-setion-title{
    color: var(--dark-blue);
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 1rem;
}
.why-choose-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
    margin: 0px;
    text-align: center;
}
.wcs-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
}
.wcs-heading{
    font-size: 40px;
    font-weight: 600;
    color: var(--dark-blue);
}
.why-choose-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
}
p{
    font-weight: 500;
    color: var(--grayish-blue);
    text-justify:auto;
}
h5{
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    padding-top: 16px;
}
.article-container{
    display: flex;
    flex-direction: column;
    background-color: var(--very-light-gray);
    margin: none;
    padding: 6%;
    text-align: center;
}
.article-container-heading{
    font-size: 40px;
    font-weight: 300;
    color: var(--dark-blue);
}
.article-sub-container{
    display: flex;
    flex-direction: column;
}
.article-container-child{
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    background-color: var(--white);
}
.image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-writer{
    font-size: 12px;
    text-align: left;
    padding-left: 16px;
    padding-top: 16px;
    color: var(--grayish-blue);
}
.article-header{
    font-size: 18px;
    font-weight: 600;
    padding-left:16px;
    padding-right: 16px;
    text-align: left;
    color: var(--dark-blue);
    margin: 0px;
}
.article-content{
    font-size: 15px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    text-align: left;
    color: var(--grayish-blue);
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--dark-blue);
    color: var(--white);
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;

}
.logo-image{
    height: 25px;
    filter:brightness(5)
}
.follow-us-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
.follow-icon{
    padding: 10px;
    height: 40px;
    width: 40px;
}
.follow-icon:hover{
    cursor: pointer;
    background-color: var(--lime-green);
    border-radius: 16px;
}
.follow-btn{
    align-self: center;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-image: linear-gradient(to right,var(--lime-green),var(--bright-cyan));
}
.reserve{
    text-align: center;
    padding-top: 4%;
}
.footer-subcontainer{
    display: flex;
    flex-direction: column;
}
.footer-subcontainer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footerElement{
    color: white;
    font-size: 16px;
}
.footerElement:hover{
    cursor: pointer;
    color: var(--lime-green);
}
.fisrt1{
    display: block;
}
.fisrt2{
    display: none;
}
.fisrt3{
    display: none;
}
@media (min-width:376px) {
    p{
        font-weight: 400;
        font-size: 13px;
        text-align: left;
    }
    h5{
        color: var(--dark-blue);
        font-weight: 300;
        font-size: 16px;
        text-align: left;
    }
    .intro-setion{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        overflow: visible;
        height: 40vh;
        width: 100%;
    }
    .intro-setion-description{
        font-size: 16px;
        padding-bottom: 1rem;
        line-height: 1.6;
    }
    .image-container{
        background-image: url('images/bg-intro-desktop.svg');
        background-size: cover;
        order: 1;
        height: 100%;
        width: 40%;
    }
    .mobile-image{
        width: 40vw;
        height: 50vh;
        margin-left: 18%;
    }
    .intro-container{
        width: 60%;
        height: 100%;
        padding-top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 4%;
        padding-right: 4%;
        align-self: center;
    }
    .wcs-heading{
        font-weight: 400;
        font-size: 36px;
        margin: 0px;
        margin-bottom: 16px;
    }
    .wcs-description{
        font-size: 16px;
        line-height: 1.5;
    }
    .why-choose-section{
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--light-grayish-blue);
        text-align: center;
    }
    .wcs-title{
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 5%;
        padding-right: 5%;
    }
    .wcs-childs-container{
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
    }
    .why-choose-child{
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        padding-right: 4%;
        padding-bottom: 4%;
        margin: 0px;
    }
    .wcs-child-title{
        padding-top: 2.25rem;
        padding-bottom: 1.75rem;
    }
    .wcs-child-description{
        line-height: 1.6;
    }
    .article-container{
        padding: 0px;
        padding-left:5% ;
        padding-right: 5%;
        text-align: left;
    }
    .article-sub-container{
        flex-direction: row;
    }
    .article-container-child{
        margin-right: 1.5rem;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .article-header{
        font-size: 16px;
        font-weight: 500;
    }
    .article-content{
        font-size: 13px;
        font-weight: 500;
        line-height: 1.4;
    }
    .footer-subcontainer2{
        flex-direction: row;
        justify-content: space-between;
        width: 20vw;
    }
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 6%;
        padding-right: 6%;
    }
    .fisrt1{
        display: none;
    }
    .fisrt2{
        display: block;
    }
    .fisrt3{
        display: block;
    }
    .footer-subcontainer{
        justify-content: space-evenly;
    }

}